<html lang="en" ng-app="appPinger" ng-hint>
<head>
    <meta charset="utf-8" />
    <title>Pinger</title>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.4.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.2.0.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
    <script src="hint.js"></script>
    <script src="app.module.js"></script>
    <script src="home/home.controller.js"></script>
    <script src="home/alertArea.directive.js"></script>
    <script src="home/outputArea.directive.js"></script>
    <script src="home/connectionStateToString.filter.js"></script>
    <script src="home/signalr.service.js"></script>
    <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body ng-controller="HomeController as vm">
    <br />
    <div class="container">
        <div class="row">
            Connection state: <span id="connectionState" class="badge" ng-class="vm.connectionStateClasses">{{vm.connectionState | connectionStateToString}}</span>
            <span id="transportDetails" ng-show="vm.showTransportName">Transport: <span id="transportName" class="badge connectionGood">{{vm.transportName}}</span></span>
            <button type="button" id="btnConnect" class="btn btn-sm btn-primary" ng-click="vm.onConnect()" ng-disabled="vm.connectBtnDisabled">Connect</button>
            <button type="button" id="btnDisconnect" class="btn btn-sm btn-primary" ng-click="vm.onDisconnect()" ng-disabled="vm.disconnectBtnDisabled">Disconnect</button>
            <button type="button" id="btnClear" class="btn btn-sm btn-danger" ng-click="vm.onClear()">Clear</button>
        </div>
        <br />
        <div alert-area messages="vm.alertMessages"></div>
        <br />
        <div output-area messages="vm.outputMessages"></div>
        <br />
    </div>
</body>
</html>
