<div class="row">
    <div class="col-md-8 col-md-offset-2">
        Connection state: <span id="connectionState" class="badge" ng-class="vmSignalRPanel.connectionStateClasses">{{vmSignalRPanel.connectionState | connectionStateToString}}</span>
        <span id="transportDetails" ng-show="vmSignalRPanel.showTransport">Transport: <span id="transportName" class="badge" ng-class="vmSignalRPanel.connectionStateClasses">{{vmSignalRPanel.transportName}}</span></span>
        <button type="button" id="btnConnect" class="btn btn-sm btn-primary" ng-click="vmSignalRPanel.onConnect()" ng-disabled="vmSignalRPanel.connectBtnDisabled">Connect</button>
        <button type="button" id="btnDisconnect" class="btn btn-sm btn-primary" ng-click="vmSignalRPanel.onDisconnect()" ng-disabled="vmSignalRPanel.disconnectBtnDisabled">Disconnect</button>
    </div>
</div>
